body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
}

main {
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #fff;
}

.roadmap {
    max-width: 800px;
    margin: 0 auto;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.topic-details, .topic-info {
    display: none;
}

.topic-details.show, .topic-info.show {
    display: block;
}

.topic-title, .topic-name {
    cursor: pointer;
    color: #007bff;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.topic-title.clicked, .topic-name.clicked {
    color: blue;
}

.topic-info ul, .topic-details ul {
    list-style-type: disc;
    margin-left: 20px;
}

.topic-info ul ul, .topic-details ul ul {
    list-style-type: circle;
    margin-left: 20px;
}
